/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
global {
	focus-color: #541c27;
	selection-color: #541c27;
	accent-color: #541c27;
	roll-over-color: #541c27;
}
s|List s|Scroller {
	horizontalScrollPolicy: off;
}
s|WindowedApplication {
	skin-class: ClassReference('theme.skin.DokWindowedApplication');
}
s|Label, s|RichEditableText {
	color: #D3D5DD;
	font-size: 11;
}
s|Label.header {
	color: #808080;
	font-size: 14;
}
s|Button {
	skin-class: ClassReference('theme.skin.DokButton');
}
s|ButtonBar {
	skin-class: ClassReference('theme.skin.DokButtonBar');
}
s|CheckBox {
	skin-class: ClassReference('theme.skin.DokCheckBox');
}
s|TextInput {
	skin-class: ClassReference('theme.skin.DokTextFilter');
}
s|List {
	skin-class: ClassReference('theme.skin.DokList');
}
s|VScrollBar {
	skin-class: ClassReference('theme.skin.DokVScrollBar');
}
s|HScrollBar {
	skin-class: ClassReference('theme.skin.DokHScrollBar');
}
mx|HScrollBar, mx|VScrollBar {
	down-arrow-skin: ClassReference(null);
	up-arrow-skin: ClassReference(null);
	thumb-skin: Embed(source='theme/asset/vsb.png', scaleGridLeft='8', scaleGridRight='12', scaleGridTop='8', scaleGridBottom='86');
	track-skin: ClassReference(null);
	/*trackSkin: Embed(source="style/scroll-track.png",scaleGridRight="8",scaleGridLeft="1",scaleGridTop="1",scaleGridBottom="11");
	thumbUpSkin: Embed(source="style/scroll-thumb.png", scaleGridTop="6", scaleGridLeft="4", scaleGridBottom="102", scaleGridRight="8");
	thumbOverSkin: Embed(source="style/scroll-thumb.png", scaleGridTop="6", scaleGridLeft="4", scaleGridBottom="102", scaleGridRight="8");
	thumbDownSkin: Embed(source="style/scroll-thumb.png", scaleGridTop="6", scaleGridLeft="4", scaleGridBottom="102", scaleGridRight="8");*/
}
/*mx|HTML {
	up-arrow-skin: ClassReference(null);
	down-arrow-skin: ClassReference(null);
}*/
s|DropDownList {
	skin-class: ClassReference('theme.skin.DokDropDownList');
}